# https://github.com/s10wen/dotfiles
# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Colors to work with iterm2 + profiles
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

# Make vim the default editor.
export EDITOR='vim';
